<?xml version="1.0" encoding="utf-8"?>
<!--
  SPDX-FileCopyrightText: The Proton AOSP Project
  SPDX-FileCopyrightText: TheParasiteProject
  SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.protonaosp.columbus"
    android:sharedUserId="android.uid.system">

    <!-- Core -->
    <uses-permission android:name="android.permission.ACCESS_CONTEXT_HUB" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MANAGE_USERS" />

    <!-- Actions -->
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.STATUS_BAR_SERVICE" />
    <uses-permission android:name="com.android.systemui.permission.SELF" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MANAGE_USB" />
    <uses-permission android:name="android.permission.ACCESS_VR_MANAGER" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.INJECT_EVENTS"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="android.permission.STATUS_BAR"/>
    <uses-permission android:name="android.permission.MONITOR_INPUT"/>
    <uses-permission android:name="android.permission.RESET_SHORTCUT_MANAGER_THROTTLING" />
    <uses-permission android:name="android.permission.ACCESS_SHORTCUTS" />
    <uses-permission android:name="android.permission.START_TASKS_FROM_RECENTS"/>
    <uses-permission android:name="android.permission.GET_INTENT_SENDER_INTENT"/>
    <uses-permission android:name="android.permission.START_ANY_ACTIVITY"/>
    <uses-permission android:name="android.permission.START_ACTIVITIES_FROM_BACKGROUND"/>
    <uses-permission android:name="android.permission.START_FOREGROUND_SERVICES_FROM_BACKGROUND"/>
    <uses-permission android:name="android.permission.START_ACTIVITY_AS_CALLER"/>
    <uses-permission android:name="android.permission.MANAGE_ACTIVITY_TASKS"/>
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_VIBRATOR_STATE" />
    <uses-permission android:name="android.permission.ACCESS_CONTEXTUAL_SEARCH" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <!-- Sensor HAL checks for this -->
    <permission android:name="com.google.android.columbus.permission.CONFIGURE_COLUMBUS_GESTURE"
        android:protectionLevel="preinstalled|signature"/>
    <uses-permission android:name="com.google.android.columbus.permission.CONFIGURE_COLUMBUS_GESTURE"/>

    <application
        android:name=".ColumbusApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:persistent="true"
        android:enableOnBackInvokedCallback="true"
        android:hardwareAccelerated="true"
        android:defaultToDeviceProtectedStorage="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:directBootAware="true">

        <!-- Core (singleton) -->

        <service android:name=".ColumbusService"
            android:singleUser="true"
            android:exported="false" />

        <receiver android:name=".BootReceiver"
            android:singleUser="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- UI -->

        <service android:name=".settings.ToggleTileService"
            android:label="@string/quick_settings_label"
            android:icon="@drawable/ic_touch_double_24px"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true" />
        </service>

        <activity android:name=".settings.SettingsActivity"
            android:label="@string/settings_entry_title"
            android:description="@string/settings_entry_title"
            android:theme="@style/Theme.SubSettingsBase.Expressive"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.INFO"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>

            <meta-data android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.gestures" />
            <meta-data android:name="com.android.settings.summary_uri"
                android:value="content://org.protonaosp.columbus.settings.summary/entry" />
            <!-- To make it appear at the top, like stock -->
            <meta-data android:name="com.android.settings.order" android:value="-100" />
            <!-- Don't show in work profiles -->
            <meta-data android:name="com.android.settings.profile" android:value="primary_profile_only" />
        </activity>

        <provider
            android:name=".settings.SearchProvider"
            android:authorities="org.protonaosp.columbus.settings.search"
            android:multiprocess="false"
            android:grantUriPermissions="true"
            android:permission="android.permission.READ_SEARCH_INDEXABLES"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.action.SEARCH_INDEXABLES_PROVIDER" />
            </intent-filter>
        </provider>

        <provider
            android:name=".settings.SummaryProvider"
            android:authorities="org.protonaosp.columbus.settings.summary" />

    </application>

</manifest>
